openapi: 3.0.0
info:
  title: APIs Open Data do Open Insurance Brasil
  description:
    API de informações de Seguro Residencial. Os são recursos que podem ser consumidos pelos participantes conforme a regra 3.2.2 do manual de escopo de dados.
  version: 1.0.0
  contact:
    url: 'https://http://novosite.susep.gov.br'
servers:
  - url: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
    description: Servidor de Produção
  - url: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
    description: Servidor de Homologação
tags:
- name: "home-insurance"
paths:
  /home-insurance/commercializationArea/{commercializationArea}:
    get:
      tags:
        - home-insurance
      summary: Obtém informações de seguros redidenciais
      description: "Obtém informações de seguros redidenciais"
      operationId: "getResidentialInsurance"
      parameters:
        - $ref: "#/components/parameters/cache-Control"
        - $ref: "#/components/parameters/content-Security-Policy"
        - $ref: "#/components/parameters/content-Type"
        - $ref: "#/components/parameters/strict-Transport-Security"
        - $ref: "#/components/parameters/x-Content-Type-Options"
        - $ref: "#/components/parameters/x-Frame-Options"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/commercializationArea"
      responses:
        '200':
            description: Dados dos Seguros Residenciais
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseHomeInsuranceList'
components:
  schemas:
    ResponseHomeInsuranceList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - HomeInsuranceBrand
          properties:
            requestTime:
              description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
              type: string
             #pattern: '[\w\W\s]*'
              maxLength: 2048
              format: date-time
              example: '2021-08-20T08:30:00Z'
            HomeInsuranceBrand:
              $ref: '#/components/schemas/HomeInsuranceBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    HomeInsuranceBrand:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Nome da marca reportada pelo participante do Open Insurance. O conceito a que se refere a marca é em essência uma promessa das sociedades sob ela em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.
        HomeInsuranceCompany:
          type: object
          required:
            - HomeInsuranceCompany
            - endpoints
          properties:
            HomeInsuranceCompany:
              $ref: '#/components/schemas/HomeInsuranceCompany'
    HomeInsuranceCompany:
      type: object
      description: Informações referente a sociedade a qual a marca pertence.
      required:
        - name
        - cnpjNumber
      properties:
        name:
          type: string
          description: Nome da sociedade pertencente à marca.
        cnpjNumber:
          type: string
          description: CNPJ da sociedade pertencente à marca.
        homeInsuranceProduct:
          type: object
          description: Produtos de Seguro Residencial.
        endpoints:
            $ref: '#/components/schemas/HomeInsuranceProduct'
    HomeInsuranceProduct:
      type: object
      description: Produtos de Seguro Residencial.
      required:
        - name
        - code
        - propertyType
        - commercializationArea
        - protective
        - additional
        - targetAudience
        - premiumRate
      properties:
        name:
          type: string
          description: Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.
        code:
          type: string
          description: Código único a ser definido pela sociedade.
        propertyType:
          type: string
          enum: [CASA , APARTAMENTO]
        propertyBuildType:
          type: string
          enum: [ALVENARIA , MADEIRA, METALICA, MISTA]
        propertyUsageType:
          type: string
          enum: [HABITUAL , EVENTUAL]
        protective:
          type: boolean
          description: Protecionais - Indicativo de exigência de itens protecionais (por exemplo, alarmes) 1. Sim; 2. Não.
        additional:
          type: string
          description: Adicionais - 1. Sorteio (gratuito); 2. Serviços de AssistênciaComplementares – Pago; 3. Serviços de Assistência Complementares – Gratuito.
        term:
          type: string
          enum: [ANUAL , ANUAL_INTERMITENTE , PLURIANUAL , PLURIANUAL_INTERMITENTE , MENSAL, MENSAL_INTERMITENTE , DIARIO , DIARIO_INTERMITENTE]
        customerService:
          type: string
          enum: [REDE_REFERENCIADA , LIVRE_ESCOLHA , REDE_REFERENCIADA_LIVRE_ESCOLHA]
        premiumPayment:
          type: string
          description: Distribuição de frequência relativa aos valores referentes às taxas cobradas, nos termos do Anexo III.
        targetAudience:
          type: string
          enum: [PESSOA NATURAL , PESSOA JURIDICA]
        commercializationArea:
          type: string
          description: Área de comercialização do seguro residencial.
        premiumRate:
          type: string
          description: Distribuição de frequência relativa aos valores referentes às taxas cobradas, nos termos do Anexo III.
        minimumRequirements:
          $ref: '#/components/schemas/MinimumRequirements'
        homeInsuranceCoverageAttributes:
          $ref: '#/components/schemas/HomeInsuranceCoverageAttributes'
        homeInsuranceTermsAndConditions:
          $ref: '#/components/schemas/HomeInsuranceTermsAndConditions'
        complementaryAssistanceServices:
          $ref: '#/components/schemas/ComplementaryAssistanceServices'
        coverageType:
          $ref: '#/components/schemas/CoverageType'
        combinationCoverage:
          $ref: '#/components/schemas/CombinationCoverage'
    CombinationCoverage:
      type: object
      description: Conjugação de coberturas - Listagem para indicar para cada cobertura quais serão a(s) cobertura(s) que deverá(rão) ser contratadas de forma conjunta. A forma de apresentação da informação deverá ser padronizada na proposta técnica submetida pela Estrutura Inicial de Governança para observância comum por todas as sociedades participantes.
      required:
        - coverages
      properties:
        coverages:
          type: string
          description: Coberturas combinadas.
    MinimumRequirements:
      type: object
      description: Produtos de Seguro Residencial.
      required:
        - contractingMinRequirement
        - contractingType
      properties:
        contractingMinRequirement:
          type: string
          description: Campo aberto contendo todos os requisitos mínimos para contratação (possibilidade de incluir URL).
        contractingType:
          type: object
          description: Informações sobre todos os requisitos mínimos para contratação.
          required:
            - code
          properties:
            ContractingType:
              type: string
              enum: [COLETIVO , INDIVIDUAL]
    HomeInsuranceCoverageAttributes:
      type: object
      description: Informações de cobertura do Seguro Residencial.
      required:
       - minLMI
       - maxLMI
       - minDeductibleAmount
       - maxDeductibleAmount
       - combinationCoverages
      properties:
        minLMI:
          type: number
          description: Lista com valor mínimo de LMI aceito pela sociedade para cada cobertura.
        maxLMI:
          type: number
          description: Lista com valor máximo de LMI aceito pela sociedade para cada cobertura.
        minDeductibleAmount:
          type: number
          description: Valor mínimo de franquia e participação obrigatória do segurado - Listagem de valor mínimo da franquia (Reais) e/ou Participação Obrigatória do Segurado (Percentual) estabelecida pela sociedade para cada tipo de cobertura do produto.
        maxDeductibleAmount:
          type: number
          description: Valor máximo de franquia e participação obrigatória do segurado - Listagem de valor máximo da franquia (Reais) e/ou Participação Obrigatória do Segurado (Percentual) estabelecida pela sociedade para cada tipo de cobertura do produto.
        combinationCoverages:
          type: string
          description: Conjugação de coberturas - Listagem para indicar para cada cobertura quais serão a(s) cobertura(s) que deverá(rão) ser contratadas de forma conjunta. A forma de apresentação da informação deverá ser padronizada na proposta técnica submetida pela Estrutura Inicial de Governança para observância comum por todas as sociedades participantes.
    HomeInsuranceTermsAndConditions:
      type: object
      description: Informações dos termos e condições conforme número do processo SUSEP.
      required:
        - susepProcessNumber
        - termAndCondition
      properties:
        susepProcessNumber:
          type: number
          description: Número do processo SUSEP.
        termAndCondition:
          type: string
          description: Campo aberto (possibilidade de incluir uma url).
    ComplementaryAssistanceServices:
      type: array
      description: Listagem dos serviços de assistências complementares disponíveis vinculado ao produto. Deve ser padronizada na proposta técnica submetida pela Estrutura Inicial de Governança para observância comum por todas as sociedades participantes.
      items:
        type: object
        required:
        - complementaryAssistanceServicesName
        - complementaryAssistanceServicesEspecification
        properties:
          complementaryAssistanceServicesName:
            type: string
            description: Nome dos serviços de assistências complementares disponíveis vinculado ao produto.
          complementaryAssistanceServicesEspecification:
            type: string
            description:  Especificação dos serviços de assistências complementares disponíveis vinculado ao produto
    CoverageType:
      type: array
      items:
        type: object
        required:
            - coverageTypeName
            - coverageTypeDefinition
        properties:
          coverageTypeName:
            type: string
            enum: [BASICA , DANOS_ELETRICOS , DANOS_POR_AGUA , ALAGAMENTO , RESPONSABILIDADE_CIVIL_FAMILIAR, RESPONSABILIDADE_CIVIL_DANOS_MORAIS , ROUBO_SUBTRACAO_BENS , ROUBO_SUBTRACAO_BENS_FORA_LOCAL_SEGURADO , ROUBO_SUBTRACAO_BENS , PEQUENAS_REFORMAS_OBRA , GREVES_TUMULTOS_LOCKOUT , MICROEMPREENDEDOR , ESCRITORIO_RESIDENCIA , DANOS_EQUIPAMENTOS_ELETRONICOS , QUEBRA_VIDROS , IMPACTO_VEICULOS , VENDAVAL , PERDA_PAGAMENTO_ALUGUEL , INVALIDEZ , BICICLETA , RESPONSABILIDADE_CIVIL_BICICLETA , DESMORONAMENTO , DESPESAS , JOIAS_OBRAS_ARTE , VIDA, MORTE , TERREMOTO , IMPACTO_AERONAVES , PAISAGISMO , OUTROS]
            description: Nome do tipo da cobertura.
          coverageTypeDefinition:
            type: string
            description: Definição do tipo de cobertura.
    Links:
      type: object
      properties:
        self:
          type: string
          description: URL da página atualmente requisitada
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
        first:
          type: string
          description: URL da primeira página de registros
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
        prev:
          type: string
          description: URL da página anterior de registros
        next:
          type: string
          description: URL da próxima página de registros
        last:
          type: string
          description: URL da última página de registros
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
    Meta:
      type: object
      properties:
        totalRecords:
          type: integer
          description: Total de registros encontrados
          example: 10
        totalPages:
          type: integer
          description: Total de páginas para os registros encontrados
          example: 1
      required:
        - totalRecords
        - totalPages
    ResponseError:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
              - requestDateTime
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
               #pattern: '[\w\W\s]*'
                maxLength: 255
              title:
                description: Título legível por humanos deste erro específico
                type: string
               #pattern: '[\w\W\s]*'
                maxLength: 255
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
               #pattern: '[\w\W\s]*'
                maxLength: 2048
              requestDateTime:
                description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                type: string
               #pattern: '[\w\W\s]*'
                maxLength: 2048
                format: date-time
                example: '2021-08-20T08:30:00Z'
            additionalProperties: false
        meta:
          $ref: '#/components/schemas/Meta'
      additionalProperties: false
  parameters:
    page:
      name: page
      in: query
      description: Número da página que está sendo requisitada (o valor da primeira página é 1).
      schema:
        type: integer
        default: 1
        minimum: 1
    pageSize:
      name: page-size
      in: query
      description: Quantidade total de registros por páginas.
      schema:
        type: integer
        default: 10
        minimum: 1
    commercializationArea:
      name: commercializationArea
      in: path
      description: Area de comercialização.
      required: true
      schema:
        type: string
    cache-Control:
      name: cache-control
      in: header
      description: Controle de cache para evitar que informações confidenciais sejam armazenadas em cache.
      required: true
      schema:
        type: string
       #pattern: '[\w\W\s]*'
    content-Security-Policy:
      name: Content-Security-Policy
      in: header
      description: Campo para proteção contra ataques clickjack do estilo - drag and drop.
      schema:
        type: string
       #pattern: '[\w\W\s]*'
    content-Type:
      name: content-Type
      in: header
      description: Especificar o tipo de conteúdo da resposta.
      schema:
        type: string
       #pattern: '[\w\W\s]*'
    strict-Transport-Security:
      name: Strict-Transport-Security
      in: header
      description: Campo para exigir conexões por HTTPS e proteger contra certificados falsificados.
      schema:
        type: string
       #pattern:  '[\w\W\s]*'
    x-Content-Type-Options:
      name: X-Content-Type-Options
      in: header
      description: Campo para evitar que navegadores executem a detecção de MIME e interpretem respostas como HTML de forma inadequada.
      schema:
        type: string
       #pattern: '[\w\W\s]*'
    x-Frame-Options:
      name: X-Frame-Options
      in: header
      description: Campo indica se o navegador deve ou não renderizar um frame.
      schema:
        type: string
       #pattern: '[\w\W\s]*'
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: 'https://auth.mockbank.poc.raidiam.io/.well-known/openid-configuration'
    OAuth2Security:
      type: oauth2
      description: Fluxo OAuth necessário para que a receptora tenha acesso aos dados na instituição transmissora. Inclui o processo de redirecionamento e autenticação do usuário a que se referem os dados.
      flows:
        authorizationCode:
          authorizationUrl: 'https://authserver.example/authorization'
          tokenUrl: 'https://authserver.example/token'
          scopes:
            financings: Escopo necessário para acesso à API Financings. O controle dos endpoints específicos é feito via permissions.
